*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  font-family: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  display: block;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: sticky;
  background-color: #ffffff;
  top: 0;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  z-index: 2;
}

.header-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar-links {
  display: flex;
  flex-direction: row;
  gap: 40px;
  list-style-type: none;
  position: relative;
}

.logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.03em;
  line-height: 1.17;
  font-weight: 700;
  margin-right: 76px;
}

.logo .logo-span {
  color: #2e2f42;
}
.logo .logo-spann {
  color: #f4f4fd;
}

.studio {
  color: #2e2f42;
  list-style-type: none;
  font-weight: 500;
  text-decoration: none;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.studio.firsta {
  color: #404bbf;
  position: relative;
}

.firsta::after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  background-color: #404bbf;
  height: 4px;
  border-radius: 2px;
}

.studio:hover,
.studio:active,
.studio:focus {
  color: #404bbf;
}
.nav-address {
  font-style: normal;
}

.address-items {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 24px 0;
  gap: 40px;
}

.nav-contact {
  color: #434455;
  list-style-type: none;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-contact:hover,
.nav-contact:active,
.nav-contact:focus {
  color: #404bbf;
}

.first-section {
  color: #ffffff;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 188px 0;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
}

.main-title {
  max-width: 496px;
  margin: auto auto 48px auto;
  font-size: 56px;
  letter-spacing: 0.02em;
  line-height: 1.07;
  text-align: center;
}
.order-button {
  color: #ffffff;
  letter-spacing: 0.04em;
  line-height: 1.5;
  background-color: #4d5ae5;
  box-shadow: 0px 4px 4px 0px #00000026;
  border: 0px;
  border-radius: 4px;
  font-weight: 500;
  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-button:hover,
.order-button:focus {
  background-color: #404bbf;
  cursor: pointer;
}

.mission-section {
  padding: 120px 0;
}

.visually-hidden {
  display: none;
  overflow: hidden;
}

.icon-box {
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 100%;
  height: 112px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.ms-li {
  width: calc((100% - 72px) / 4);
  flex-basis: calc((100% - 72px) / 4);
}

.mission-title {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.mission-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.mission-list {
  display: flex;
  flex-direction: row;
  gap: 24px;
  list-style-type: none;
}

.mission-list li {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.team-section {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.personel-info {
  padding: 32px 0;
}

.team-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}

.team-card {
  background-color: #ffffff;
  text-align: center;
  align-items: center;
  flex-basis: calc((100% - 72px) / 4);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.tl-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.tl-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.team-social {
  display: flex;
  flex-direction: row;
  gap: 24px;
  justify-content: center;
}

.ts-li {
  width: 40px;
  height: 40px;
}

.ts-a {
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ts-a:hover,
.ts-a:focus {
  background-color: #404bbf;
}

.social-svg {
  fill: #f4f4fd;
}

.portfolio-section {
  padding: 120px 0;
}

.portfolio-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}

.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.pl-item {
  flex-basis: calc((100% - 72px) / 4);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pl-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.pop-updiv {
  position: relative;
  overflow: hidden;
}

.popup-p {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pl-item:hover .popup-p {
  transform: translateY(0);
}

.pl-div {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.pl-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.pl-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.pl-item img {
  height: 300px;
}

.footer {
  background-color: #2e2f42;
  text-decoration: none;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.footer-left {
  margin-right: 120px;
}

.footer .logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-text {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}

.footer-sm-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 16px;
}

.fs-li {
  width: 40px;
  height: 40px;
}

.fs-a {
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.fs-a:hover,
.fs-a:focus {
  background-color: #31d0aa;
}

.fs-svg {
  fill: #f4f4fd;
}
.footer-form-area {
  margin-left: 80px;
}
.footer-form-area p {
  margin-bottom: 16px;
  color: #ffffff;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-size: 16px;
  font-weight: 500;
}

.footer-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.footer-form-input {
  width: 264px;
  height: 40px;
  font-size: 12px;
  padding-left: 16px;
  line-height: 2;
  letter-spacing: 0.04em;
  background-color: transparent;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: 1px solid #ffffff;
  border-radius: 4px;
  color: #ffffff;
}

.footer-form-button {
  min-width: 165px;
  height: 40px;
  border-radius: 4px;
  padding: 8px 24px;
  background-color: #4d5ae5;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: #ffffff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-button:focus,
.footer-form-button:hover {
  background-color: #404bbf;
}

.send-svg {
  margin-left: 16px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  z-index: 99;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  visibility: hidden;
}

.form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  background-color: #fcfcfc;
  border-radius: 4px;
  padding: 72px 24px 24px 24px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border: 1px solid #0000001a;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover,
.close-button:focus {
  background-color: #404bbf;
  border: none;
}

.close-svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover,
.close-button:focus .close-svg {
  fill: #ffffff;
}

.overlay.is-open {
  visibility: visible;
}

.form-title {
  font-size: 16px;
  letter-spacing: 0.02em;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.form-div {
  margin-bottom: 8px;
}

.form-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.forminput-div {
  position: relative;
}

.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:hover,
.form-input:focus {
  border-color: #4d5ae5;
}

.forminput-svg {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus .forminput-svg {
  fill: #4d5ae5;
}

.form-comment {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  padding: 8px 16px;
  border-radius: 4px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-comment:focus {
  border-color: #4d5ae5;
}

.comment-div {
  margin-bottom: 16px;
}

.form-privacy {
  margin-bottom: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.privacy-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  width: 16px;
  height: 16px;
  fill: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.privacy-text {
  font-size: 12px;
  color: #8e8f99;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.privacy-policy {
  color: #4d5ae5;
}

.privacy-checkbox:hover {
  background-color: #404bbf;
}

.privacy-checkbox-background:checked + .privacy-text .privacy-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.form-button {
  display: block;
  color: #ffffff;
  background-color: #4d5ae5;
  padding: 16px 32px;
  min-width: 169px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
  height: 56px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.form-button:hover {
  background-color: #404bbf;
}
